<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/stylesheets/all.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css" >
    <title>Login System in Node.js Express</title>
</head>
<body>
    <div class="container">
        <h1 class="mt-5 mb-5 text-center text-primary"><b>Login System</b></h1>

        <div class="row mt-5">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <% if(session.user_id) { %>

                    <h1>Welcome <%=session.user_name%></h1>
                    <a href="/logout" class="btn btn-primary">Logout</a>
                <% } else { %>

                    <div>
                        <% if(locals.error_text) { %>
                            <span class="error_msg"><%=error_text%></span>
                        <% } %>
                    </div>
                    <div class="card">
                        <div class="card-header"><span class="header">Login</span></div>
                        <div class="card-body">
                            <form method="post" action="/login">
                                <div class="mb-3">
                                    <label>Email Address</label>
                                    <input type="email" name="user_email_address" class="form-control" />
                                </div>
                                <div class="mb-3">
                                    <label>Password</label>
                                    <input type="password" name="user_password" class="form-control" />
                                </div>
                                <div class="mb-3">
                                    <input type="submit" class="btn btn-primary" value="Login" />
                                </div>
                            </form>
                        </div>
                    </div>

                <% } %>
            </div>
        </div>
    </div>
</body>
</html>